/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
  font-size: 16px;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;

  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background: var(--color-bg-compliment);

  color: var(--color-text);

  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.monaco-editor {
  position: absolute !important;
}

.siderail-svg {
  svg {
    fill: var(--text-300);
    color: var(--text-300);
  }

  path {
    fill: var(--text-300);
    color: var(--text-300);
  }

}

.siderail-svg-selected {
  svg {
    fill: var(--text-100);
    color: var(--text-100);
  }

  path {
    fill: var(--text-100);
    color: var(--text-100);
  }
}


.favourite-svg {
  cursor: pointer;
  width: fit-content;
  background-color: transparent;
  padding: 0;
  outline: unset;
  border: unset;

  svg, path {
    fill: var(--text-300);
    color: var(--text-300);
  }

}

.favourite-svg:hover {
  svg, path {
    fill: var(--text-100);
    color: var(--text-100);
  }
}

.favourite-svg-selected {
  svg, path {
    fill: var(--text-300);
    color: var(--text-300);

  }


}

:root {

  /* MAIN COLORS */
  --background-100: #09090B;
  --background-200: #151518;
  --background-300: #27272A;

  --text-100: #F6F6F6;
  --text-200: #58585E;
  --text-300: #A2A2A3;

  --hover-100: #F6F6F6;
  --hover-200: #27272A;
  --border-100: #27272A;
  --border-200: #222225;

  /* MAIN COLORS */
  --transition-speed: 0.2s;

  --sidebar-size: 14rem;
  /* 224px */
  --sidebar-margin-left: 0rem;
  /* NOTE: This is left at 0 on purpose the time is set to 0.3s
        inside the navbar sidebar expand check this is done in order to prevent
        the sidebar collapse animation on inital page check */
  --sidebar-transition-time: 0s;

  --project-header-height: 5rem;
  /* 80px */

  --resizer-color: #006699;

  --color-global-blue-hover: #0066dd;

  --color-global-gray-med: #a7a7a7;
  --color-global-gray-med-hover: #828282;

  --color-global-dark-gray: #5d5d5d;
  --color-global-dark-gray-hover: #000000;

  --color-global-white: #ffffff;

  --color-global-error-red: #f93232;
  --color-global-error-red-hover: #e41313;

  --sidebar-search-height: 2.5rem;
  --sidebar-width: 2.25rem;
  /* 40px */
  --sidebar-fixed-width: 2.25rem;
  --sidebar-bg: var(--background-100);
  --sidebar-bg-hover: #2B2B2B;
  --sidebar-border: var(--border-100);
  --sidebar-selected-bg: #1F252D;
  --sidebar-selected-border: #2558BC;
  --sidebar-get-req: #4CAB61;
  --sidebar-post-req: #D68323;
  --sidebar-put-req: #2E8ABE;
  --sidebar-delete-req: #CA3939;
  --sidebar-patch-req: #7FC27E;

  --color-sidebar-bg: var(--background-100);
  --color-sidebar-border: #28292B;
  --color-sidebar-text: #A6A6A6;
  --color-gray: #868787;

  --footer-height: 1.25rem;
  /* 16px */
  --footer-bg: #161616;


  --toolbar-width: 2.25rem;
  /* 40px */
  --toolbar-fixed-width: 2.25rem;
  /* This won't change */
  --toolbar-bg: var(--background-100);


  --editor-background: var(--background-200);
}

:root, [data-theme="default"] {
  --svg-invert: 0.9;

  --svg-logo-brightness: 1.5;

  --color-bg: var(--background-100);
  /* 0E0F10 */

  --color-bg-compliment: var(--background-200);

  /* Navbar colours start */
  /* --navbar-color-bg: #201f1e; */
  --navbar-color-bg: var(--background-100);
  --navbar-color-secondary: var(--background-200);
  --navbar-color-bg-hover: #3b3a39;
  --navbar-border: var(--border-100);
  --navbar-focus: var(--text-100);
  /* Navbar colours end */

  /* Tool card */
  --tool-card-bg-100: var(--background-100);
  --tool-card-bg-200: var(--background-200);
  --tool-card-border-100: var(--border-100);
  --tool-card-border-hover: var(--hover-100);

  /* Sidebar colours start */
  --sidebar-color-bg: #141414;
  --sidebar-color-bg-hover: #535251;

  --sidebar-color-bg-inner: #1b1b1b;

  --sidebar-color-active-bg: #2e333b;
  /* Sidebar colours end */

  --color-bg-hover: #3b3a39;

  --color-text: #f1ffff;
  --color-text-sub: #949493;

  --color-border: #383838;

  --color-global-blue: #0091d9;


  --color-global-highlight-blue: #00aaff;
  --color-global-highlight-blue-hover: #7cd3ff;

  --color-icon: #A6A6A6;
}

[data-theme="Light"] {
  --svg-invert: 0;

  --svg-logo-brightness: 1;

  --color-bg: #ffffff;
  --color-bg-compliment: #f8f8f8;

  /* Navbar colours start */
  --navbar-color-bg: #ffffff;
  --navbar-color-bg-hover: #f3f3f3;
  /* Navbar colours end */

  /* Sidebar colours start */
  --sidebar-color-bg: #eaeaea;
  --sidebar-color-bg-hover: #d1d1d1;

  --sidebar-color-bg-inner: #dcdcdc;

  --sidebar-color-active-bg: #e3ebf8;
  /* Sidebar colours end */

  --color-bg-hover: #f3f3f3;

  --color-text: #000000;
  --color-text-sub: #353535;

  --color-border: #e7e7e7;


  --color-global-blue: #006699;

  --color-global-highlight-blue: #006699;
  --color-global-highlight-blue-hover: #0092db;
}

/* svg special filter class probably should have a smarter solution than thi  */
.svg-filter {
  filter: invert(var(--svg-invert));
}


/* UTIL Classes */
.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.no-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  /* user-drag: none; */
}


.text-no-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Resets */
p {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  margin-bottom: 0.75rem;
}

/* NOTE: unstyle a links manually style each one that should have the underline and purple color pressed style */
a {
  text-decoration: none;
}

input,
button {
  outline: none;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.25rem;
}

::-webkit-scrollbar-track {
  background-color: var(--color-sidebar-border);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-sidebar-text);
}
